.header-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #232323;
 color: #fff;
 padding: 20px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h1-tag {
 margin: 0;
 font-size: 36px;
}

p {
 margin: 0 10px;
 cursor: pointer;
 font-size: 18px;
}

.aboutUs {
 background-color: #fff;
 color: #232323;
 padding: 10px 20px;
 border-radius: 30px;
 font-weight: bold;
 cursor: pointer;
}